@media only screen and (max-width: 900px) 
    /* .menu { width:600px; } */{

        * {
            margin: 1 auto;
            padding: 1 auto;
        }
        body{
            overflow-x: hidden;
        }
    
     header{
         flex-direction: column;
     }

     main{
         flex-direction: column;
     }

     h2{
         font-size: 38px;
     }

     form{
         margin: 0 auto;
     }

     input{
         align-self: center;
         width: 70%;
     }

     .image1{
         text-align: center;
         width: 500px;
         display: none;
     }

     .container{
         text-align: center;
         display: inline-table;
     }

     #buttom-contact{
         text-align: center;
         width: 350px;
     }




     .container .card{
        position: relative;
        padding: 10px;
        width: 300px;
        background-color: rgb(242, 228, 237);
        margin: 30px;
        border: 1px solid black;
        border-radius: 100px;
        overflow: hidden;
        transition: 0.5s;
        text-align: center;
        
    }

}


    