


.text-card{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200vh;
}

.container{
    width: 1150px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container .card{
    position: relative;
    padding: 10px;
    width: 300px;
    background-color: rgb(242, 228, 237);
    margin: 15px;
    border: 1px solid black;
    border-radius: 350px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    
}

.container .card img{   
    transition: 0.5s;

}


.container .card h1{
     font-size: 2rem;

}

.container .card .content{
      padding: 20px;
      text-align: center;

}

.container .card .content p{
    color: rgb(132, 14, 201);
    transition: 0.5s;
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
}

.container .card:hover{
    background-color: rgb(250, 37, 158);
    color: white;
    margin-top: -30px;
    box-shadow: 2px 20px 25px rgb(250, 37, 158);
    border-color: rgb(250, 37, 158);
}

.container .card:hover img{
    filter: invert(1);
}

.container .card:hover .content p{
    color: white;
}

.container .card:hover .content a{
    color: black;
    background-color: white;
}